<!DOCTYPE html>
<html lang="kk">
<head><meta charset="UTF-8"><title>Кабинет</title>
<link rel="stylesheet" href="/css/style.css"></head>
<body>
  <header><h1>Менің кабинетім</h1></header>
  <main>
    <p>Қош келдіңіз, <%= user.username %>!</p>
    <a href="/add">Жаңа рецепт қосу</a>
  </main>
</body>
</html>
